@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Saira', sans-serif;  
  color: #fff;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --dark-bg: #002439;
  --dark-bg2: #00243986;
  --window-bg: #4e78883a;
  --window-bg2: #0c0f10eb;
  --window-bg3: #4e78880b;
  --window-border-color1: #78cde265;
  --window-border-color2: #78CCE2;
  --text-color1: #005066;
  --text-color2: #78CCE2;
  --light-blue: #78CCE2;
  --border-light-gray: #898988;  
  --blur-color: #5fd7fc4b;
  --black-low-opacity: rgba(0,0,0,.15);
}


body{
  
  /* background-color: rgb(0, 0, 0);  */
  /* color: #e8f4ff; */
  background-image: url('../assets/images/main-bg-img.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;  
  position: relative;
  overflow: hidden;
}


img,
svg{
  max-width: 100%;
  display: block;
}

.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 70px;
}

.top-nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  align-items: center;
}

.top-nav .logo{
  font-size: 2rem;
  padding-left: 35px;
}

.nav-toggle{
  height: 100%;
  padding: 15px;
}

.bx-menu{
  display: none;
}

.top-nav ul{
  display: flex;
  list-style-type: none;
  padding: 11px;
}

.top-nav ul li{
  padding: 5px;
  margin-right: 10px;
  font-size: 1.5rem;
}

.top-nav ul li a{
  padding: 5px;
  transition: color 0.5s;
  cursor: pointer;
}


.top-nav ul li a:hover,
.top-nav ul li a:focus{
  color: var(--light-blue);
}

.active-section{
  color: var(--light-blue);
}

.main-page{
  height: calc(100vh - 70px);
  width: 100%;
  margin-top: 70px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* background dark overlay */
.main-page::before{
  content: '';
  position: fixed;
  inset: 0;
  background-color: rgba(0, 2, 3, 0.83);
  z-index: -1;
}

.content-wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  z-index: 5;
  
}

.content-container{
  max-width: 1000px;
}


section{
  min-height: calc(100vh - 70px);
  /* display: flex; */
  /* align-items: center; */
  padding-top: 15px;
  padding-bottom: 60px;
}

.content{
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.115);
  font-size: 1.2rem; 
  column-gap: 5px;
  row-gap: 15px;
  padding: 15px;
}

.ui-design-elements{
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  display: none;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 25% 50% 25%;
  align-items: center;
  justify-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 0;
}

.ui-border {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 80vh;
  z-index: 1;
  /* background-color: red; */
}

.ui-border.left {
  left: 3vw;
}

.ui-border.right {
  right: 3vw;
}

.ui-border .line {
  display: block;
  width: 1px;
  height: 80vh;
  background: var(--light-blue);
}

.ui-border .triangle {
  border-width: 7px;
  border-style: solid;
  left: -6px;
  position: absolute;
}

.ui-border .triangle.top {
  top: 0;
  border-color: var(--light-blue) transparent transparent transparent;
}

.ui-border .triangle.bottom {
  bottom: 0;
  border-color: transparent transparent var(--light-blue) transparent;
}


/* HOME SECTION UI DESIGNS */

.profile-ui-elements{
  display: flex;    
}

.profile-edge-designs{
  position: relative;
  z-index: 100;
}

.trapazoid{
  width: 265px;  
  top: -30px;
  height: 30px;
  left: 0;
  background: 
    linear-gradient(-135deg, transparent 10px, rgba(0, 0, 0, 0.7) 0) right,
    linear-gradient(135deg, transparent 20px, rgba(0, 0, 0, 0.7) 0) left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  backdrop-filter: blur( 25px );
}

.trapazoid::before{
  content: '';
  position: absolute;
  top: 0;
  left: 30px;
  width: calc(100% - 43px);
  height: 1px;
  background: var(--window-border-color2)
}

.profile-edge{
  position: absolute;
  
}

.profile-left-edge{ 
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  gap: 15px;  
}

.profile-edge .line{
  position: absolute;
  width: 1px;
  background: var(--window-border-color2);
  transform-origin: bottom;
}

.profile-left-edge .line{
  left: 0;
  bottom: 0;
  height: 42px;
  transform: rotate(45deg);
  transform-origin: bottom;
}

.profile-left-edge .corner{
  position: absolute;
  transform: rotate(45deg);
  transform-origin: bottom;
  
}

.profile-left-edge .small{
  left: -7px;
  top: -7px;
  height: 15px;
  width: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--window-border-color2) transparent transparent;
}


.profile-left-edge .large{
  left: -8px;
  top: -14px;
  height: 35px;
  margin-right: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--window-border-color2) transparent transparent;
}

.profile-right-edge{
  width: 15px;
  height: 20px;
  right: 0;
}

.profile-right-edge .line{
  height: 23px;
  right: -2px;
  top: -7px;
  transform: rotate(-45deg);
}

.profile-parallels{
  position: absolute;
  display: flex;
  column-gap: 7px;
  right: -98px;
  top: 0;
  width: 100px; 
  height: 15px;
}

.profile-parallels .parallel{
  height: 10px;
  width: 5px;
  background-color: var(--light-blue);
  transform: skew(45deg);
}

.profile-top-right-bar{
  position: relative;
  width: 100%;
  margin-top: 15px;
  z-index: 5;
  /* margin-left: 0.1px; */
  /* padding-right: 15px; */
  background: linear-gradient(-135deg, transparent 10px, rgba(0, 0, 0, 0.7) 0);
  backdrop-filter: blur( 25px );
  /* border-right: 1px solid var(--window-border-color1); */
  /* border-top: 1px solid var(--window-border-color1); */
  height: 15px;
}

.profile-top-right-bar:before{
  content: '';
  position: absolute;
  left: 0;
  width: calc(100% - 15px);
  height: 1px;
  background: var(--window-border-color2)
}

.profile-top-right-bar:after{
  content: '';
  position: absolute;
  right: -4px;
  top: -8px;
  z-index: 55;
  width: -4px;
  height: 23px;
  transform-origin: bottom;
  transform: rotate(-45deg);
  border-width: 3px;
  border-style: solid;
  border-color: transparent transparent transparent var(--window-border-color2);
  /* background-color: var(--window-border-color1); */
}

.main-heading{
  margin-top: -25px;
  padding-left: 25px;
  padding-top: 5px;

}


.profile-container{
  border-left: 1px solid var(--window-border-color2);
  border-right: 1px solid var(--window-border-color2);
  border-bottom: 1px solid var(--window-border-color2);
}


.profile-container::before{
  content: '';
  position: absolute;
  left: -3px;
  bottom: -2px;
  width: calc(100% + 6px);
  height: 100%;
  border: 15px solid transparent;
  border-image: url(../assets/images/border-img-bottom-only.png) 40 round;
  z-index: -1;
}

.profile-container::after{
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  top: -10px;
  height: calc(100% + 25px);
  background: var(--blur-color);
  z-index: -1;
  filter: blur(25px);  
}

.profile{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
}

.profile-info{
  /* display: block; */
  /* grid-area: 1/1; */
  width: auto;
  height: auto;
}

.about-paragraph{
  border: 1px solid var(--window-border-color1);
  padding: 15px;
  background: var(--black-low-opacity);
  height: 100%;
}

.profile img{
  grid-area: 1 / 2 / span 2 / span 2;
  max-width: 250px;
  height: 100%;
  border: 1px solid var(--window-border-color2);
}

.status-window{
  /* grid-area: 2/3; */
  border: 1px solid var(--window-border-color1);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.2rem;
  background: var(--black-low-opacity);
  width: auto;
  height: auto;
}

.about-paragraph p span{
  color: var(--text-color2);
}

.links{
  gap: 10px;
  padding-top: 25px;
  overflow: hidden;
}

.links a{
  background: 
    linear-gradient(135deg, transparent 5px, var(--window-bg) 0) top right,
    linear-gradient(-45deg, transparent 5px, var(--window-bg) 0) bottom right
    ;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  padding: 5px 15px 5px 15px;
  margin: 0 10px 10px 0;
  text-align: center;
  transition: all 0.3s;
  display: inline-block;
}

.links .cv-btn{
  background: 
    linear-gradient(135deg, transparent 5px, var(--light-blue) 0) top right,
    linear-gradient(-45deg, transparent 5px, var(--light-blue) 0) bottom right;
  background-size: 100% 51%;
  background-repeat: no-repeat;
  color: var(--text-color1);
}

.links a:focus,
.links a:hover,
.links a:hover i,
.links a:focus i
{
  background: 
    linear-gradient(135deg, transparent 5px, var(--light-blue) 0) top right,
    linear-gradient(-45deg, transparent 5px, var(--light-blue) 0) bottom right;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  color: var(--text-color1);
} 

.links .cv-btn:hover,
.links .cv-btn:focus{
  background: 
    linear-gradient(135deg, transparent 5px, var(--dark-bg2) 0) top right,
    linear-gradient(-45deg, transparent 5px, var(--dark-bg2) 0) bottom right;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  color: var(--text-color2);
}

.status-window p span{
  font-weight: 100;
  color: var(--text-color2);
  font-size: 17px;
} 

.profile-skills-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 10px;
  justify-content: space-between;
}

.courses-window, .skills-window{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  /* margin-bottom: 15px; */
  background: var(--black-low-opacity);
  /* border: 1px solid var(--window-border-color1);  */
  outline: 1px solid var(--window-border-color1);
  outline-offset: 2px;
}

.courses-window .window-heading,
.skills-window .window-heading{
  background: none;
  color: #fff;
  border-bottom: 1px solid var(--window-border-color1);
  padding-left: 27px;
}

.course-list, .skills-grid{
  position: relative;
  list-style-type: none;
  /* border: 1px solid var(--window-border-color1);  */
  padding: 15px;
  /* background: var(--black-low-opacity);     */
}

.course-list::after,
.skills-grid::after{
  content: " ";
  width: calc(100% + 3px);
  position: absolute;
  border-width: 6px;
  border-style: solid;
  border-color: transparent var(--light-blue);
  left: -1px;
  top: -6px;
}

.course-list li{
  margin-left: 15px;
}

.course-list li::before{
  content: '> ';
  color: #3ca6ccc4;  
  margin-left: -20px;
}

.skills-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px;
  height: 100%;
}


/* ---------------- Portfolio Section Styles ---------------- */
.portfolio-container{
  position: relative;
  width: 100%;
  height: 100%;
  /* margin-top: 115px; */
}

.portfolio-container::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: var(--blur-color);
  background: 
    linear-gradient(135deg, transparent 20px, var(--blur-color) 0) top left,
    linear-gradient(-135deg, transparent 20px, var(--blur-color) 0) top right,
    linear-gradient(45deg, transparent 20px, var(--blur-color) 0) bottom left,
    linear-gradient(-45deg, transparent 20px, var(--blur-color) 0) bottom right
  ;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  filter: blur(25px);
  z-index: -1;
}

.portfolio{
  /* background-color: red; */
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;  
  background: 
    linear-gradient(135deg, transparent 20px, transparent 0) top left,
    linear-gradient(-135deg, transparent 20px, transparent 0) top right,
    linear-gradient(45deg, transparent 20px, transparent 0) bottom left,
    linear-gradient(-45deg, transparent 20px, transparent) bottom right
  ;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: none;
  backdrop-filter: none;
  font-size: 1.2rem;
  padding: 15px 25px;
}

.porfolio-heading{
  padding: 15px;
}

/* top and bottom window borders */
.portfolio::before{
  content: '';
  position: absolute;
  top: -2px;
  left: 25px;
  height: 1px;
  width: calc(100% - 50px);
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent var(--window-border-color2) transparent;
}

.portfolio::after{
  content: '';
  position: absolute;
  bottom: -2px;
  left: 25px;
  height: 2px;
  width: calc(100% - 50px);
  border-width: 2px;
  border-style: solid;
  border-color: var(--window-border-color2) transparent transparent transparent
}

.projects-container{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* project buttons */
.project-toggle-box{
  display: flex;
  gap: 15px;
  justify-content: end;
}

.radio-btn-label{
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, transparent 12px, var(--window-bg) 0 ) top left,
    linear-gradient(-45deg, transparent 12px, var(--window-bg) 0) bottom right;
  background-size: 100% 50%;
  background-repeat: no-repeat;    
  padding: 15px;
  cursor: pointer;
  z-index: 2;
  font-weight: 700;
  font-size: 15px;
}

.selected
{    
  background: 
    linear-gradient(135deg, transparent 12px, var(--light-blue) 0 ) top left,
    linear-gradient(-45deg, transparent 12px, var(--light-blue) 0) bottom right;
  background-size: 100% 51%;
  background-repeat: no-repeat;
  color: var(--text-color1);    
}

.project-toggle-item.selected{
  border: 1px solid var(--window-border-color2);
}

.radio-btn{
  visibility: hidden;
}

.blurred{
  position: relative;
}

.project-card{
  display: flex;
  flex-direction: row-reverse;
  column-gap: 5px;
  width: 100%;
  height: 100%;
}

.project-card-img{
  border: 1px solid var(--window-border-color2);
  width: 100%;
}

.video-card{
  width: 100%;
}

.project-info{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--window-border-color1);
}

.project-info .window-heading{
  width: 90%;
  border-bottom: 1px solid var(--window-border-color2);
  padding: 15px 15px 5px;
  color: #fff;
  font-size: 1.7rem;
  position: relative;
}

.project-info .window-heading::after{
  content: " ";
  width: calc(100% + 3px);
  position: absolute;
  border-width: 6px;
  border-style: solid;
  border-color: transparent var(--light-blue);
  left: -1px;
  bottom: -6px;
}

.project-desc{  
  padding: 15px 37px;
  height: 100%;
  width: 100%;
  background: var(--black-low-opacity);
}

.project-desc p{
  margin-bottom: 25px;  
}


/* Long description for 'Read More' */
.long-desc-wrapper{
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 150;
}

.long-desc-container{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 650px;
  /* background: 
    linear-gradient(-45deg, transparent 25px, #002439e3 0)
  ; */
  background: #002439e3;
  padding: 15px;
  border: 1px solid var(--light-blue);
  /* border-left-width: 5px; */
  /* border-right-width: 5px; */
}

.long-desc-container::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  border-style: solid;
  border-width: 7px;
  border-color: var(--light-blue) transparent var(--light-blue) transparent;
}

.long-desc-header{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.long-desc-header .heading{
  text-align: center;
  width: 100%;
}

.close-descBtn{
  position: absolute;
  right: -16px;
  top: -16px;
  padding: 0 5px 15px 25px;
  background: 
    linear-gradient(45deg, transparent 30px, red 0);
  ;
  font-size: 1.4rem;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.long-desc{
  text-align: center;
}


.project-card-btn{
  cursor: pointer;
  background: 
      linear-gradient(-135deg, transparent 10px, var(--window-border-color2) 0) top right,
      linear-gradient(45deg, transparent 10px, var(--window-border-color2) 0) bottom left;
  background-size: 100% 51%;
  background-repeat: no-repeat;
  color: var(--text-color1);
  padding: 10px 15px;
  transition: all 0.3s;
  max-width: 150px;
} 

/* Portfolio Section UI Designs */
.portfolio-ui-elements{
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background:rgba(0, 0, 0, 0.8);
  border-radius: 39px;
}

.portfolio-ui-elements .side-bars{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 91%;
  border-style: solid;
  border-width: 1px;
  border-color: transparent var(--window-border-color2) transparent var(--window-border-color2);
}

.side-bars .side-bar{
  width: 15px;
  height: 50%;
  min-height: 85px;
}

.side-bars .side-bar{
  display: grid;
  grid-template-rows: 15% 70% 15%;
}

.side-bar .parallels{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.side-bar .parallels-t{
  justify-content: end;
  padding-bottom: 5px;
  margin-top: 5px;
}

.side-bar .parallels-b{  
  padding-top: 5px;
  margin-top: -4px;
}

.side-bar .parallels .parallel{
  width: 18px;
  height: 4px;
  background-color: var(--light-blue);
}

.side-bar .parallels-t .parallel{
  justify-self: end;
}

.side-bar .parallels .parallel{    
  background-size: 100%;
  background-repeat: no-repeat;
}

.left-bar .parallels .parallel{  
  margin-left: -5px;  
}

.right-bar .parallels .parallel{  
  margin-left: 2px;  
}

.left-bar .parallels-t .parallel{  
  background: 
    linear-gradient(45deg, transparent 5px, var(--light-blue) 0);
  transform: rotate(225deg);
}

.left-bar .parallels-b .parallel{
  background: 
    linear-gradient(135deg, transparent 5px, var(--light-blue) 0);
  ;
  transform: rotate(-225deg);  
}

.right-bar .parallels-t .parallel{  
  background: 
    linear-gradient(-45deg, transparent 5px, var(--light-blue) 0);
  transform: rotate(-225deg);
}

.right-bar .parallels-b .parallel{
  background: 
    linear-gradient(-135deg, transparent 5px, var(--light-blue) 0);
  ;
  transform: rotate(225deg);  
}

.side-bars .mid-bar{
  width: 100%;
  height: 100%;
  min-height: 85px;
  border-width: 7px;
  border-style: solid;
}

.left-bar .mid-bar{
  border-color: transparent transparent  transparent var(--light-blue);
}

.right-bar .mid-bar{
  border-color: transparent var(--light-blue) transparent  transparent;
}

.portfolio-ui-elements .top-bottom-borders{
  position: absolute;
  width: 95%;
  height: 100%;
  inset: 0;
  margin-left: 25px;
  z-index: -1;
}

.portfolio-ui-elements .cut-edges{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

.portfolio-ui-elements .cut-edges .top-edges{
  position: relative;
  width: 100%;
  height: 100%;
}

.cut-edges .top-edges,
.cut-edges .bottom-edges{
  display: flex;
  justify-content: space-between;
}

.cut-edges .left-edge,
.cut-edges .right-edge{
  position: absolute;
  width: 1px;
  height: 37px;
}

.top-edges .left-edge,
.top-edges .right-edge
{
  top: -9px;
}

.bottom-edges .left-edge,
.bottom-edges .right-edge{
  bottom: -9px;
}

.cut-edges .left-edge{
  left: 0;  
  transform-origin: bottom;
  background: var(--window-border-color2);
}

.cut-edges .right-edge{
  right: 0;
  background: var(--window-border-color2);
  transform-origin: bottom;
}

.top-edges .left-edge{
  transform: rotate(43deg);
}

.top-edges .right-edge{
  transform: rotate(-43deg);
}

/* top white long edges */
.top-edges .top-edge{
  position: absolute;
  top: -5px;
  height: 5px;
  left: 25px;
  width: calc(100% - 50px);
  background: 
    linear-gradient(-135deg, transparent 10px, var(--light-blue) 0) left,
    linear-gradient(135deg, transparent 15px, var(--light-blue) 0) right
  ;
  background-size: 30% 100%;
  background-repeat: no-repeat;
}


/* thick white edge outlines top */
.cut-edges .top-edges .right-edge::before{
  content: '';
  position: absolute;
  top: -9px;
  right: -9px;
  width: 5px;
  height: calc(100% + 10px);
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent transparent var(--light-blue);
}

.cut-edges .top-edges .left-edge::before{
  content: '';
  position: absolute;
  top: -9px;
  left: -9px;
  width: 5px;
  height: calc(100% + 10px);
  border-style: solid;
  border-width: 5px;
  border-color: transparent var(--light-blue) transparent transparent;
}

.portfolio-ui-elements .cut-edges .bottom-edges{
  width: 100%;
  height: 100%;
  /* background: purple; */
}

.bottom-edges .left-edge{
  transform: rotate(-43deg);
  left: 25px;
  bottom: 2px;
}

.bottom-edges .right-edge{
  transform: rotate(43deg);
  right: 25px;
  bottom: 2px;
}

/* Thick white edge outlines bottom */
.cut-edges .bottom-edges .right-edge::before{
  content: '';
  position: absolute;
  bottom: -9px;
  right: -9px;
  width: 5px;
  height: calc(100% + 10px);
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent transparent var(--light-blue);
}

.cut-edges .bottom-edges .left-edge::before{
  content: '';
  position: absolute;
  bottom: -9px;
  left: -9px;
  width: 5px;
  height: calc(100% + 10px);
  border-style: solid;
  border-width: 5px;
  border-color: transparent var(--light-blue) transparent transparent;
}

/* bottom white long edges */
.bottom-edges .bottom-edge{
  position: absolute;
  bottom: -5px;
  height: 5px;
  left: 25px;
  width: calc(100% - 50px);
  background: 
    linear-gradient(-45deg, transparent 10px, var(--light-blue) 0) left,
    linear-gradient(45deg, transparent 15px, var(--light-blue) 0) right
  ;
  background-size: 30% 100%;
  background-repeat: no-repeat;
}

/* Contact form section styles */
.form-wrapper{
  place-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 1.3rem;
}


/* Window top borders */
.form-wrapper::before{
  content: '';
  position: absolute;
  width: calc(100% - 35px);
  height: 1px;
  left: 0;
  top: 0;
  background: var(--light-blue);
  z-index: 5;
}

/* Window bottom borders */

.form-wrapper::after{
  content: '';
  position: absolute;
  width: calc(100% - 35px);
  height: 1px;
  right: 0;
  bottom: 0;
  background: var(--light-blue);
  z-index: 5;
}

.form-container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 15px 15px 25px 15px;    

  background: 
      linear-gradient(-135deg, transparent 25px, rgba(0, 0, 0, 0.7) 0) top right,
      linear-gradient(45deg, transparent 25px, rgba(0, 0, 0, 0.7) 0) bottom right
      ;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.form-container:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: var(--blur-color);
  filter: blur(25px);
  z-index: -1;
}

.contact-form{
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  flex-direction: column;
  padding: 35px 15px 15px 15px;
  /* overflow: auto; */
}

.contact-form::before{
  content: '';
  position: absolute;
  width: 1px;
  height: calc(100% - 35px);
  background-color: var(--light-blue);
  inset: 0;
}

.contact-form::after{
  content: '';
  position: absolute;
  width: 1px;
  height: calc(100% - 35px);
  right: 0;
  bottom: 0;
  background-color: var(--light-blue);
}

.input-box, .message-box-container{
  width: 100%;
}

.input-box input, .message-box, ::placeholder{
  color: var(--text-color2);
}

.input-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
}

.input-box input{
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  background: var(--window-bg);
  background:
         linear-gradient(135deg, transparent 5px, rgba(0, 0, 0, 0.8) 0) top right;
 background-size: 100%;
 background-repeat: no-repeat;
  border-bottom: 1px solid var(--window-border-color2);
  transition: border 0.2s;
  font-size: 1.2rem;
}

.input-box input:focus{
  border-bottom: 4px solid var(--window-border-color2);
}

.message-box{
  padding: 15px 15px 15px 25px;
  width: 100%;
  min-height: 200px;
  resize:vertical;
  background:var(--window-bg);
  border-top: 1px solid var(--window-border-color2);
  transition: all 0.5s;
  font-size: 1.2rem;
}
 
.message-box:focus{
  border-top: 4px solid var(--window-border-color2);
}

.form-btn{
  width: 100%;
  display: flex;
  justify-content: end;
}

.submit-btn{
  position: relative;
  cursor: pointer;
  padding: 15px 25px;
  background-color: var(--dark-bg);
  font-size: 17px;
  background:
      linear-gradient(135deg, transparent 10px, var(--light-blue) 0) top,
      linear-gradient(-45deg, transparent 10px, var(--light-blue) 0) bottom;
  background-repeat: no-repeat;
  background-size: 100% 51%;
  text-align: center;
  transition: all 0.5s;  
  min-width: 250px;
  width: 30%;
  color: var(--text-color1);
  margin-top: 15px;
}

.submit-btn:hover,
.submit-btn:focus{
  background:
      linear-gradient(135deg, transparent 10px, var(--dark-bg) 0) top,
      linear-gradient(-45deg, transparent 10px, var(--dark-bg) 0) bottom;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  color: var(--text-color2);
}

.form-message{
  margin-top: 20px;
  color: var(--light-blue);
  font-size: 15px;
}


/* Contact form UI design */

.contact-form-ui-elements{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  /* background-color: #002439; */
}

.form-edge-designs{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-edge-designs .form-top-edge{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.form-edge-designs .form-bottom-edge{
  position: absolute;
  gap: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  
}

/* thin bottom corder edge line */
.form-bottom-edge::before {
  content: '';
  position: absolute;
  left: 17px;
  bottom: -7px;
  width: 1px;
  height: 50px;
  background-color: var(--light-blue);
  z-index: 5;
  transform: rotate(-45deg);
}

/* thin top corder edge line */
.form-top-edge::before {
  content: '';
  position: absolute;
  right: 17px;
  top: -7px;
  width: 1px;
  height: 50px;
  background-color: var(--light-blue);
  z-index: 5;
  transform: rotate(-45deg);
}


.form-edge-designs .small{
  position: absolute;
  border-style: solid;
  border-width: 5px;
  height: 20px;
  width: 0;
}


.form-top-edge .small {  
  right: 6px;
  top: -3px;
  transform: rotate(-45deg);
  transform-origin: top;
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent transparent var(--light-blue);
}

.form-edge-designs .large{
  position: absolute;
  border-style: solid;
  border-width: 5px;
  height: 40px;
  width: 0;
}

.form-top-edge .large {
  position: absolute;
  right: 19px;
  top: -3px;
  transform: rotate(-45deg);
  transform-origin: top;
  border-color: transparent transparent transparent var(--light-blue);
}

.form-bottom-edge .large {
  position: absolute;
  left: -9px;
  bottom: -15px;
  transform: rotate(-45deg);
  transform-origin: top;  
  border-color: transparent var(--light-blue) transparent transparent;
}

.form-bottom-edge .small {  
  left: -9px;
  bottom: -9px;
  transform: rotate(-45deg);
  transform-origin: top;  
  border-style: solid;
  border-width: 5px;
  border-color: transparent var(--light-blue) transparent transparent;
}


/* ------------ Footer Section Styles ------------ */
.footer-section{
  padding-top: 5px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 1);
  text-align: center;
  z-index: 100;
}

.footer-section p{
  padding-bottom: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--window-border-color1); 
  border-radius: 10px;
}


/* Tablets */
@media (max-width: 830px) {

  .content-wrapper{
    padding: 10px;
  }

  /* Porfolio section */
  .project-card-img{
    width: 50vw;
  }

  .project-card{
    row-gap: 5px;
  }
}

@media (max-height: 800px){
  .contact-form-section{
    padding-bottom: 150px;
  }
  
}

@media (max-width: 830px) {

  .profile img{
    grid-area: 1/1;
  }

  .status-window{
    grid-area: 2/1/ span 1 /span 2;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: start;
  }

  .links a{
    font-size: 15px;
  }

  .nav-links{
    visibility: hidden;
  }

  .top-nav{
    flex-direction: column;
    background: rgba(0, 0, 0, 1);
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    align-items: center;
    z-index: 500;
  }

  .top-nav .nav-toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .bx-menu, .bx-x{
    display: inline-block;
    font-size: 1.8rem;
    margin-right: 15px;
    cursor: pointer;
  } 

  
}

/* Phones */
@media (max-width: 670px){

  /* Profile sections */
  .profile-info{
    grid-area: 2 / 1/ span 1 /span 2;
  }

  .status-window{
    grid-area: 1/2;
  }

  .profile img{
    max-width: 100%;
  }

  /* Portfolio section */
  .project-card{
    flex-direction: column-reverse;
    row-gap: 5px;
    align-items: center;
  }

  .project-info{
    width: 100%;
  }

  .project-card-img{
    width: 100%;
  }

  .project-toggle-box{
    flex-direction: column;
    /* grid-template-columns: repeat(1, 1fr); */
  }

  .project-toggle-item{
    width: 100%;
  }  

  .profile-skills-section {
    grid-template-columns: repeat(1, 1fr);
  }


  /* Conntact form section */
  .input-box{
    grid-template-columns: repeat(1, 1fr);
  }

  .home-section, .portfolio-section{
    margin-bottom: 125px;
  }
  
}


@media (max-width: 450px){
  .main-page{
    margin-top: 75px;
    height: calc(100vh - 75px);
  }

  .profile{
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
  }
  .profile img{
    grid-area: 1 / 1;
  }

  .profile-info{
    grid-area: 2/1;
  }

  .status-window{
    grid-area: 3 / 1;
  }  
}

